// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#items_list{
	position: absolute;
	left: 260px;
	width: 480px;
}

#new_item_form{
	position: fixed;
	width: 260px;
	top: 0;
	left: 0;
	background: #eee;
}

